.trick-item {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}

.trick-button {
  padding: 16px;
  width: 100%;
  max-width: 235px;
  background-color: #114e86;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  border: 0;
  border-radius: 4px;
  transition: opacity 0.3s ease-in;
  text-decoration: none;
  cursor: pointer;
}

.trick-button:hover {
    opacity: 0.8;
}

.order {
  margin-right: 16px;
  width: 40px;
  color: #363636;
  font-size: 32px;
  font-weight: 700;
}
