@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  background-color: #D9D9D9;
  color: #535353;
}

p {
  margin: 0;
}